.nav_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px
}

.active {
    background-color: red;
}

.nav_li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;

    list-style-type: none;
    background-color: rgba(0, 63, 94, 0.784);
    margin-left: 10px;
    border-radius: 3px;
}


.nav_li:hover {
    background-color: rgba(181, 207, 224, 0.626);
    transition: background-color 0.5s ease;
    border: 1px solid rgb(0, 68, 255)
}

.nav_li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}