*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$fontRoboto: 'Roboto', sans-serif;

body {
  font-family: $fontRoboto;
  color: $colorWhite;
  letter-spacing: 0.03em;
}

.section {
  padding: 50px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.home,
.newPost,
.postPage,
.postPage_error,
.about,
.editPost,
.missing {
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
