.home {
  .post {
    margin: 30px 0px;
    color: $texColor;
    border-bottom: 1px groove green;
    cursor: pointer;
  }

  .post_date {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }

  .post_body {
    margin: 1rem 0;
  }

  h1 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
  }

  &_error {
    margin: 3rem 0px;
    color: $redColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
}
