.postPage {
  .post {
    margin: 30px 0px;
    color: $texColor;
  }

  .post_date {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }

  .post_body {
    margin: 1rem 0;
  }

  h1 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
  }

  &_error {
    margin: 30px auto;
    color: $redColor;
    font-size: 30px;
  }

  a {
    text-decoration: none;
  }

  button {
    margin: 50px 10px 0px 0px;
    width: 200px;
  }

  #delete:hover {
    background-color: red;
  }

  #edit:hover {
    background-color: yellowgreen;
  }
}
