* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100vh;
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header {
  width: 100%;
  padding: 0 0.25em;
  background-color: rgba(0, 77, 193, 0.674);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}


footer {
  width: 100%;
  padding: 0.25em;
  background-color: rgba(0, 77, 193, 0.674);
  color: aliceblue;
  display: grid;
  place-content: center;
}


.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

.item input {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  margin-right: 0.5rem;
}